@model IEnumerable<ExemploWebAppMVC.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Funcionário</h1>
<br/>
<p>
    <a asp-action="Create" class="btn btn-success">Inserir</a>
</p>

<p>
    <form asp-action="Index" method="get" class="row border p-3">
        <div class="col-md-5">
            <select class="form-select" name="empresaIdPesq" value="ViewBag.EmpresaIdCorrente" asp-items="ViewBag.Empresas">
                <option value="">Selecione uma empresa...</option>
            </select>
        </div>
        <div class="col-md-4">
            <select class="form-select" name="cargoIdPesq" value="ViewBag.CargoIdCorrente" asp-items="ViewBag.Cargos">
                <option value="">Selecione um cargo...</option>
            </select>
        </div>
        <div class="col-1">
            <input type="submit" value="Pesquisa" class="btn btn-secondary" />
        </div>
        <div class="col-2">
            <a asp-action="Index" class="btn btn-secondary">Listar todos</a>
        </div>
    </form>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr style="text-align:center">
            <th>
                Cód.
            </th>
            <th>
                @Html.ActionLink("Nome", "Index", new { ordemDeClassificacao = ViewBag.NomeClassifParam }, new { style = "text-decoration:none; color:black;" })
            </th>
            <th>
                @Html.ActionLink("Idade", "Index", new { ordemDeClassificacao = ViewBag.IdadeClassifParam }, new { style = "text-decoration:none; color:black;" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style ="text-align:center">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
